/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/*Layout and Mains*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    /*#DDD;*/
    /* ===== Colors ===== */
    --body-color: #F0F3FB;
    --sidebar-color: #E4E9F7;
    --primary-color: #FFF;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;
    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body {
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection {
    background-color: var(--primary-color);
    color: #fff;
}

body.dark {
    --body-color: #21223E;
    --sidebar-color: #282945;
    --primary-color: #373854;
    --primary-color-light: #373854;
    --toggle-color: #FFF;
    --text-color: #FFF;
}

@media (prefers-color-scheme: dark) {
    body.theme-auto {
        --background-color: var(--body-color);
        --text-color: var(--text-color);
    }
}

/* ===== Sidebar ===== */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
}

    .sidebar.close {
        width: 88px;
    }

    /* ===== Reusable code - Here ===== */
    .sidebar li {
        height: 50px;
        list-style: none;
        display: flex;
        align-items: center;
        margin-top: 10px;
    }

    .sidebar header .image,
    .sidebar .icon {
        min-width: 60px;
        border-radius: 6px;
    }

    .sidebar .icon {
        min-width: 60px;
        border-radius: 6px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
    }

    .sidebar .text,
    .sidebar .icon {
        color: var(--text-color);
        transition: var(--tran-03);
    }

    .sidebar .text {
        font-size: 17px;
        font-weight: 500;
        white-space: nowrap;
        opacity: 1;
    }

    .sidebar.close .text {
        opacity: 0;
    }
    /* =========================== */

    .sidebar header {
        position: relative;
    }

        .sidebar header .image-text {
            display: flex;
            align-items: center;
        }

        .sidebar header .logo-text {
            display: flex;
            flex-direction: column;
        }

header .image-text .name {
    margin-top: 5px;
    font-size: 16px;
    font-weight: 600;
}

/*header .image-text .profession {
    font-size: 16px;
    margin-top: -2px;
    display: block;
}*/

.sidebar header .image {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .sidebar header .image img {
        width: 40px;
        border-radius: 6px;
    }

.sidebar header .toggle {
    position: absolute;
    /*top: 50%;*/
    top: 156%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle {
    color: var(--text-color);
}

.sidebar.close .toggle {
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
    margin-top: 40px;
}

.sidebar li.search-box {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

    .sidebar li.search-box input {
        height: 100%;
        width: 100%;
        outline: none;
        border: none;
        background-color: var(--primary-color-light);
        color: var(--text-color);
        border-radius: 6px;
        font-size: 17px;
        font-weight: 500;
        transition: var(--tran-05);
    }

.sidebar li a {
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

    .sidebar li a:hover {
        background-color: var(--primary-color);
    }

/*.sidebar li a:hover .icon,
        .sidebar li a:hover .text {
            color: var(--sidebar-color);
        }*/

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
    color: var(--text-color);
}

.sidebar .menu-bar {
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

.menu-bar::-webkit-scrollbar {
    display: none;
}

.sidebar .menu-bar .mode {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon {
    height: 50px;
    width: 60px;
}

.mode .sun-moon i {
    position: absolute;
}

    .mode .sun-moon i.sun {
        opacity: 0;
    }

body.dark .mode .sun-moon i.sun {
    opacity: 1;
}

body.dark .mode .sun-moon i.moon {
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch {
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}

.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before {
    left: 20px;
}

.home {
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
    overflow: auto;
}

    .home .text {
        font-size: 18px;
        font-weight: 400;
        color: var(--text-color);
        padding: 12px 60px 0 70px;
        /*padding: 12px 60px;*/
    }

    .home::-webkit-scrollbar {
        width: 20px;
        height: 20px;
        background-color: var(--primary-color);
    }

    .home::-webkit-scrollbar-thumb {
        background-color: var(--body-color);
        border-radius: 10px;
        border: 2px solid var(--primary-color);
    }

.sidebar.close ~ .home {
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}

body.dark .home .text {
    color: var(--text-color);
}

.nav-span {
    display: inline-block;
    width: 180px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    user-select: none;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

#date {
    font-size: 24px;
}

/*Groups*/

.groups {
    display: flex;
}

.group-left {
    background: var(--sidebar-color);
    border-radius: 12px;
    margin-right: 20px;
    height: 100%;
    flex: 30;
}

.group-right {
    background: var(--sidebar-color);
    flex: 50;
    border-radius: 12px;
}

.group-search {
    margin: 10px;
}

.group-list {
    margin: 10px;
    overflow-y: scroll;
    padding-right: 10px;
    height: 78vh;
}

.glr {
    height: 84.2vh;
}

    .group-list::-webkit-scrollbar {
        border-radius: 10px;
        width: 20px;
        height: 20px;
        background-color: var(--primary-color);
    }

    .group-list::-webkit-scrollbar-thumb {
        background-color: var(--body-color);
        border-radius: 10px;
        border: 2px solid var(--primary-color);
    }

.group-list-100 {
    display: flex;
    flex-direction: column;
    flex: 31;
}

.g-top {
    margin-bottom: 20px;
}

.group-table {
    height: 82vh;
    overflow-y: scroll;
    margin: 10px;
    margin-right: 10px;
}

    .group-table::-webkit-scrollbar {
        border-radius: 10px;
        width: 20px;
        height: 20px;
        background-color: var(--primary-color);
    }

    .group-table::-webkit-scrollbar-thumb {
        background-color: var(--body-color);
        border-radius: 10px;
        border: 2px solid var(--primary-color);
    }

input {
    border-radius: 10px;
    border: none;
    background: var(--primary-color);
    height: 30px;
    margin-bottom: 10px;
    
}

button {
    border-radius: 10px;
    border: none;
    background: var(--primary-color);
    height: 30px;
}

.input-style {
    width: 100%;
    border-radius: 10px;
    border: none;
    background: var(--primary-color);
    height: 30px;
    padding-left: 10px;
}

.group-item {
    background: var(--primary-color);
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.group-action {
    color: var(--text-color);
    font-size: 20px;
}

.group-overflow {
    width: 100%;
    height: 80vh;
    overflow-y: scroll;
}

    .group-overflow::-webkit-scrollbar {
        border-radius: 0px 12px 12px 0px;
        width: 20px;
        height: 20px;
        background-color: var(--primary-color);
    }

    .group-overflow::-webkit-scrollbar-thumb {
        background-color: var(--body-color);
        border-radius: 0px 12px 12px 0px;
        border: 2px solid var(--primary-color);
    }

/*Groups default*/

.gp {
    height: 35vh;
}

.ns{
    overflow-y: hidden;
}

/*Students*/

.student-table {
    padding: 10px;
    width: 100%;
}

    .student-table th {
        font-size: 18px;
        padding: 10px;
        text-align: center;
    }

    .student-table td {
        font-size: 18px;
        padding: 10px;
        text-align: center;
    }

    .student-table tbody tr {
        font-size: 18px;
        background: var(--primary-color);
    }

        .student-table tbody tr td:first-child {
            border-radius: 10px 0 0 10px;
        }

        .student-table tbody tr td:last-child {
            border-radius: 0 10px 10px 0;
        }

        .student-table tbody tr:nth-child(even) {
            background: inherit;
        }

/*Schedule*/

.schedule-group {
    flex: 100%;
    text-align: center;
    background: var(--sidebar-color);
    border-radius: 12px;
    margin-bottom: 10px;
}

    .schedule-group button {
        width: calc(100% / 4);
        background: var(--sidebar-color);
        border-radius: 10px;
        border: 2px solid var(--primary-color-light);
        margin-top: 10px;
        margin-bottom: 10px;
        color: var(--text-color);
        font-size: 18px;
    }

.schedule-table {
    flex: 100%;
    background: var(--sidebar-color);
    border-radius: 12px 0px 0px 12px;
    padding: 10px;
}

    .schedule-table thead {
        font-size: 24px;
    }

    .schedule-table tr td.schedule-cell {
        width: calc(100% / 6);
        padding: 2px;
    }

    .schedule-table tr td.schedule-date {
        text-align: center;
        transform: rotate(-90deg);
        height: 30px;
    }
        /*Поковыряться с шириной в таблице*/
        .schedule-table tr td.schedule-date span {
            user-select: none;
            display: inline-block;
            width: 100px;
        }

.schedule-card {
    font-size: 14px;
    line-height: 100%;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 2px;
    background-color: var(--sidebar-color);
    border-radius: 10px;
    border: 2px solid var(--primary-color-light);
    height: 140px;
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.25);
    color: #FFF;
}

    .schedule-card span {
        display: block;
        margin-bottom: 8px;
    }

.schedule-card-nl {
    padding-top: 16px;
    padding-bottom: 2px;
    height: 140px;
    background-color: var(--sidebar-color);
    border: 2px solid var(--primary-color-light);
    border-radius: 10px;
    box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.25);
}

.lesson {
    background: #3B87C1;
}

.practice {
    background: #34C88A;
}

.lab {
    background: #D66666;
}

.double-lab {
    background: #D66666;
    height: calc(143px * 2);
}

/*Presents*/

#present-items {
    margin-top: 10px;
    display: grid;
    gap: 1.7%;
    grid-template-columns: 11% 11% 11% 11% 11% 11% 11% 11%;
}

.present-item {
    font-size: 18px;
    text-align: center;
    padding-top: 17px;
    height: 60px;
    background-color: var(--sidebar-color);
    border-radius: 10px;
}

.pl-a {
    height: 60px;
    background-color: var(--primary-color-light);
    color: var(--text-color);
}

.pl-h {
    padding-top: 11px;
    background-color: var(--sidebar-color);
    border: 6px solid var(--primary-color);
}

.present-item:hover {
    color: var(--text-color);
    background-color: var(--primary-color-light);
}

.present-item-h:hover {
    color: var(--text-color);
    background-color: var(--primary-color);
}

.present-links {
    color: var(--text-color);
    text-decoration: none;
}

.group-present {
    display: flex;
    margin-top: 10px;
    flex: 100%;
    background-color: var(--sidebar-color);
    border-radius: 12px;
    padding: 10px;
}

.group-present-left {
    flex: 40%;
    text-align: left;
    padding: 10px;
}

.group-present-right {
    flex: 60%;
    padding: 10px;
}

.present-elements {
    height: 100%;
    display: flex;
}

.present-element {
    flex: 100% / 3;
    margin: auto;
}

    .present-element a {
        color: var(--text-color);
    }
    .present-element a:hover {
        color: var(--text-color);
        opacity: 0.7;
    }

        .present-element a i {
            background: var(--primary-color);
            border-radius: 20px;
            padding: 10px;
            color: var(--text-color);
        }
/*Present Table*/

.present-table {
    text-align: center;
    width: 100%;
}

.students-table tbody tr td {
    padding-bottom: 20px;
    color: #6B6D82;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.students-table tbody tr th {
    color: #6B6D82;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 20px;
}

#student-status {
    font-size: 18px;
    text-align: center;
    color: #FFF;
    border-radius: 10px;
    background: #D66666;
    width: 120px;
    height: 32px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#student-pass {
    background: var(--primary-color);
    width: 120px;
    height: 32px;
    text-align: center;
    color: var(--text-color);
    font-weight: bold;
    border: hidden;
    border-radius: 10px;
}

#leader{
    border: 3px solid var(--text-color);
    border-radius: 60px;
}

/*Students*/

.student-table tbody {
    overflow-y: scroll;
}

.student-table::-webkit-scrollbar {
    border-radius: 10px;
    width: 20px;
    height: 20px;
    background-color: var(--primary-color);
}

.student-table::-webkit-scrollbar-thumb {
    background-color: var(--body-color);
    border-radius: 10px;
    border: 2px solid var(--primary-color);
}

/*Dropdown*/

.dropbtn {
    background: var(--primary-color);
    width: 120px;
    height: 32px;
    text-align: center;
    color: var(--text-color);
    font-weight: bold;
    border: hidden;
    border-radius: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    font-size: 12px;
    position: absolute;
    background-color: var(--primary-color);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
    margin-left: -20px;
}

    .dropdown-content a {
        color: var(--text-color);
        padding: 8px 12px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            background-color: var(--body-color);
            border-radius: 10px;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.disabled {
    pointer-events: none;
    opacity: 0;
}
