@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}



<div class="groups">
    <div class="group-left">
        <div class="group-list ns">
            <h3>Управление учетной записью</h3>
            <partial name="_ManageNav" />
        </div>

    </div>
    <div class="group-right">
        <div class="group-list ns">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
