@page
@model EnableAuthenticatorModel
@{
    ViewData["Title"] = "Настройте приложение аутентификатора";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<div class="group-list">
    <span>Чтобы использовать приложение-аутентификатор, выполните следующие действия:</span>
    <ol class="group-list">
        <li>
            <span>
                Загрузите приложение двухфакторного аутентификатора, например Microsoft Authenticator для
                <a href="https://go.microsoft.com/fwlink/?Linkid=825072">Android</a> и
                <a href="https://go.microsoft.com/fwlink/?Linkid=825073">iOS</a> или
                Google Authenticator для
                <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&amp;hl=en">Android</a> и
                <a href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8">iOS</a>.
            </span>
        </li>
        <li>
            <span>Введите этот ключ <kbd>@Model.SharedKey</kbd> в приложение двухфакторного аутентификатора. Пробелы и корпус не имеют значения.</span>
        </li>
        <li>
            <span>
                После сканирования QR-кода или ввода ключа, указанного выше, приложение двухфакторной аутентификации предоставит вам уникальный код. Введите код в поле подтверждения ниже.
            </span>
            <div class="row">
                <div class="col-md-6">
                    <form id="send-code" method="post">
                        <div class="form-floating">
                            <input asp-for="Input.Code" class="form-control" autocomplete="off" />
                            <label asp-for="Input.Code" class="control-label form-label">Код верификации</label>
                            <span asp-validation-for="Input.Code" class="text-danger"></span>
                        </div>
                        <button type="submit" class="w-100 btn btn-lg btn-primary">Проверить</button>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    </form>
                </div>
            </div>
        </li>
    </ol>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
