@page
@using NewDiploma.Data.Identity;
@model IndexModel
@inject SignInManager<ApplicationIdentityUser> SignInManager
@inject UserManager<ApplicationIdentityUser> UserManager
@{
    ViewData["Title"] = "Главная страница";
}

<div class="groups">
    <div class="group-right">
        <partial name="_LoginPartial" />
    </div>
</div>
