@page
@using NewDiploma.Data.Identity;
@model IndexModel
@inject SignInManager<ApplicationIdentityUser> SignInManager
@inject UserManager<ApplicationIdentityUser> UserManager
@{
    ViewData["Title"] = "Главная страница";
}

<div class="main-center">
    <div class="default-card">

    </div>
    <div class="glass-card">
        <partial name="_LoginPartial" />
    </div>
</div>
