
@{
    ViewData["Title"] = "Посещаемость";
}
<div class="groups">
    <div class="group-left">

        <div class="group-list">
            <input class="input-style" placeholder="Введите номер группы">
            
                <a class="group-action" href="#">
                    <div class="group-item">
                        <span></span>
                    </div>
                </a>

        </div>
    </div>

    <div class="group-right">
        <table class="student-table">
            <thead>
                <tr>
                    <th>Предмет</th>
                    <th>Фамилия Имя Отчество</th>
                    <th>Посещаемость</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
</div>