
@{
    ViewData["Title"] = "Методички";
}

<div class="group">
    <h1>@ViewData["Title"]</h1>
</div>

<div class="groups">
	<div id="group-left">
		<div class="group-list">

		</div>
	</div>

	<div id="group-right">
		
	</div>
</div>