
@{
    ViewData["Title"] = "Методички";
}

<div class="group">
    <h1>@ViewData["Title"]</h1>
</div>

<div class="groups">
	<div id="group-left">
		<div class="group-list">
			@foreach (var item in @Model)
			{
				<a class="student-button" href="#">@item.CourseName</a>
			}
		</div>
	</div>

	<div id="group-right">
		
	</div>
</div>