@{
    ViewData["Title"] = "Методички";
}

<div class="groups">
    <div class="group-left">
        <div class="group-search">
            <input class="input-style" placeholder="Введите название предмета">
        </div>
        <div class="group-list">
            @foreach (var item in @Model)
            {
                <a class="group-action" href="@Url.Action("Materials", "Home", new{courseName = @item.CourseName})">
                    <div class="group-item">
                        <span>@item.CourseName</span>
                    </div>
                </a>
            }
        </div>
    </div>
    <div class="group-right">
        <span>Hello world!</span>
    </div>
</div>