@{
    ViewData["Title"] = "Объявления";
}

<div class="">
    @foreach (var item in @Model)
    {
        if (item.Type == 0)
        {

            <div class="schedule-card">
                <span>@item.Course гр. @item.Group</span>
                <span>Дата создания обращения: @item.Date.ToString("dd/MM/yy")</span>
                <span>@item.Message</span>
            </div>
        }
    }
</div>