
@{
	ViewData["Title"] = "Присутствующие";
}

<div class="present-main">
	<div id="present-items">
		<a class="present-links" href="#">
			<div id="present-item">
				<span>1 пара</span>
			</div>
		</a>
		<a class="present-links" href="#">
			<div id="present-item">
				<span>2 пара</span>
			</div>
		</a>
		<a class="present-links" href="#">
			<div id="present-item">
				<span>3 пара</span>
			</div>
		</a>
		<a class="present-links" href="#">
			<div id="present-item">
				<span>4 пара</span>
			</div>
		</a>
		<a class="present-links" href="#">
			<div id="present-item">
				<span>5 пара</span>
			</div>
		</a>
		<a class="present-links" href="#">
			<div id="present-item">
				<span>6 пара</span>
			</div>
		</a>
		<a class="present-links" href="#">
			<div id="present-item">
				<span>7 пара</span>
			</div>
		</a>
		<a class="present-links" href="#">
			<div id="present-item">
				<span>8 пара</span>
			</div>
		</a>
	</div>
</div>

<div class="group">
	<div>
		<span>Название предмета</span><br />
		<span>Номер группы</span><br />
		<input class="input-style" placeholder="Введите тему занятия">
		<div id="present-elements">
			<a href="#">
				<div class="present-element">
					<img src="~/img/svg/Accept.svg" draggable="false">
				</div>
				<span>Сохранить</span>
			</a>
			<a href="#">
				<div class="present-element">
					<img src="~/img/svg/Cancel.svg" draggable="false">
				</div>
				<span>Отмена</span>
			</a>
			<a href="#">
				<div class="present-element">
					<img src="~/img/svg/Upload.svg" draggable="false">
					
				</div>
				<span>Отправить материал</span>
			</a>
			
		</div>
	</div>
</div>

<div class="group">
	
</div>