@{
    ViewData["Title"] = "Присутствующие";
}

<div class="present-main">
    <div id="present-items">
        <a class="present-links" href="#">
            <div id="present-item">
                <span>1 пара</span>
            </div>
        </a>
        <a class="present-links" href="#">
            <div id="present-item">
                <span>2 пара</span>
            </div>
        </a>
        <a class="present-links" href="#">
            <div id="present-item">
                <span>3 пара</span>
            </div>
        </a>
        <a class="present-links" href="#">
            <div id="present-item">
                <span>4 пара</span>
            </div>
        </a>
        <a class="present-links" href="#">
            <div id="present-item">
                <span>5 пара</span>
            </div>
        </a>
        <a class="present-links" href="#">
            <div id="present-item">
                <span>6 пара</span>
            </div>
        </a>
        <a class="present-links" href="#">
            <div id="present-item">
                <span>7 пара</span>
            </div>
        </a>
        <a class="present-links" href="#">
            <div id="present-item">
                <span>8 пара</span>
            </div>
        </a>
    </div>
</div>

<div class="group">
    <div class="present-groups">
        <div class="present-left">
            <span id="nc">Название предмета</span><br />
            <span>Номер группы</span><br />
            <input class="input-style" placeholder="Введите тему занятия">
        </div>

        <div class="present-right">
            <div id="present-elements">
                <a href="#">
                    <div class="present-element">
                        <img src="~/img/svg/Accept.svg" draggable="false">
                    </div>
                    <span>Сохранить</span>
                </a>
                <a href="#">
                    <div class="present-element">
                        <img src="~/img/svg/Cancel.svg" draggable="false">
                    </div>
                    <span>Отмена</span>
                </a>
                <a href="#">
                    <div class="present-element">
                        <img src="~/img/svg/Upload.svg" draggable="false">

                    </div>
                    <span>Отправить материал</span>
                </a>
            </div>
        </div>

    </div>
</div>

<div class="group">
    <div class="students-present">
        <table class="students-table">
            <tbody>
                <tr>
                    <td></td>
                    <th>Фамилия Имя Отчество</th>
                    <th>Посещаемость</th>
                    <th>Статус</th>
                    <th>Выполнение</th>
                </tr>
                @foreach (var item in @Model)
                {
                    <tr>
                        <td><img src="~/img/pic/test.png" draggable="false" /></td>
                        <td><span id="pn">@item.FIO</span></td>
                        <td><span>99%</span></td>
                        <td>
                            <select id="student-status">
                                <option value="" selected>Отсутсвует</option>
                                <option value="">Опоздал</option>
                                <option value="">Присутствует</option>
                            </select>
                        </td>
                        <td>
                            <select id="student-pass">
                                <option value="" selected>-</option>
                                <option value="">Нет</option>
                                <option value="">Выполнено</option>
                                <option value="">Защита</option>
                            </select>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>